/* ----- Layout general ----- */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Grid principal */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;  /* defino el grid rows para que sea uno solo x row */
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100vh;
}

/* Header */
header {
    grid-area: header;
    background-color: #f2f2f2;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

header button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

/* defino a todos los tipo section como grid-area content */
section {
    grid-area: content;
    padding: 1rem;
}

/* footer */
footer {
    grid-area: footer;
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 0.5rem;
}

/*container de seccion partidos*/
#container-seccion-partidos {
    display: none;
    gap: 1rem; /*espaciado entre formulario y lista*/
}

/* grid interno para formulario y lista */
#container-seccion-partidos[style*="display:block"] {
    display: grid;
    grid-template-columns: 2fr 3fr; /* dos columnas */
    gap: 1rem;
}

/* formateo para todos los formularios*/
form {
    border: 1px solid #ccc;
    padding: 1rem;
    background: #fafafa;
    border-radius: 4px;
}

/*Container de lista de partidos*/
#container-lista-partidos{
    border: 1px solid #ccc;
    padding: 1rem;
    background: #fff;
    border-radius: 4px;
    display: block;
}

/*feedbacks*/
#feedback-formulario-usuario,
#feedback-formulario-partido {
    margin-top: 1rem;
    color: green;
}

/*Seccion de objetos dinamicos*/

.elemento-partido {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 8px;
    margin-bottom: 8px;
}

button {
    background-color: #ddd;
    color: black;
    border: 1px solid #aaa;
    padding: 6px 10px;
    margin: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

/* contenedor de estadísticas */
.informacion-estadisticas,
.div-estadisticas {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 6px;
    margin-top: 6px;
}

/* formularios inline de modificacion */
.formulario-modificar-estadisticas,
.formulario-modificar-partido {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 8px;
}

/*esto es para que no quede colgado la seccion de estadisticas si no tiene nada*/
.div-estadisticas:empty{
    display: none;
}